.lista_Opciones label{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.lista_Opciones select{
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 30px 20px;;
    border: none;
    outline-color: #6278F7 ;
    font-size: 16px;

}