.orgSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 40px;
    color: #6278F7;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;
}
.orgSection img{
    position: absolute;
    right: 18%;
    cursor: pointer;
}